Run test command: `python -m pytest`
The lecturer uses: `hatch test` but he has a special environment setup in hatch
